:root {
  --primary-color: #927fbf;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 100px;
  margin: 120px 0 40px 120px;
  color: var(--primary-color);
  background: white;
  padding: 0 0 15px 30px;
  border: 3px solid var(--primary-color);
  font-family: "luckiest guy", cursive;
}

h2 {
  font-size: 70px;
  color: var(--primary-color);
  font-family: "luckiest guy", cursive;
  text-align: center;
  padding: 50px 0 30px;
}

h3 {
  font-size: 50px;
  font-family: "luckiest guy", cursive;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-align: center;
}

p {
  font-size: 25px;
  line-height: 2;
  font-family: "roboto", sans-serif;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  font-family: "roboto", sans-serif;
}

li {
  list-style: none;
}

footer {
  background: var(--primary-color);
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  text-align: center;
  margin-top: 60px;
}

.navbar {
  padding: 10px 50px;
}

.nav-link {
  text-align: right;
  font-size: 25px;
  font-weight: 600;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}

.greeting {
  font-size: 30px;
  color: black;
  font-family: "roboto", sans-serif;
}

.pronouns {
  font-size: 25px;
}

.introduction {
  text-align: center;
  padding: 0 60px;
  margin: 40px 80px;
}

.emphasize-text {
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.row {
  flex-wrap: wrap;
  margin: 0;
}

.col-sm-6 {
  display: flex;
  justify-content: space-evenly;
}

.caption {
  padding-top: 20px;
  line-height: 30px;
}

.caption-info {
  font-size: 20px;
}

.solo-heading {
  padding-top: 20px;
}

.about-container {
  padding: 0 60px;
  margin: 40px 80px;
}

.experience-container {
  margin: 0;
  padding: 0;
}

.skill-icon {
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px 40px;
}

.experience-content {
  padding: 0 20px 0 40px;
}

.project-caption {
  line-height: 1.5;
  margin-top: 20px;
}

.project-subtitle {
  text-align: center;
  font-size: 40px;
}

.upcoming-projects {
  font-size: 22px;
}

.experience.skill-icon {
  font-size: 40px;
}

.welcome-link {
  display: flex;
  justify-content: center;
  margin: 40px 0 120px;
}

.primary-link {
  text-align: center;
  color: white;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  font-family: "roboto", sans-serif;
}

.primary-link:hover {
  border: 1px solid var(--primary-color);
  color: black;
  background: white;
  transition: 2ms ease-in-out;
}

.external-link {
  color: var(--primary-color);
}

.project-link {
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.contact-icon {
  font-size: 30px;
  padding: 0 120px;
}

.contact-icon:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

@media (max-width: 576px) {
}

@media (min-width: 992px) {
}
